@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

.body {
    background-color: #F1F3F6;
    overflow-x: hidden;
}

.headertext {
    margin-left: 10px;
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    color: black;
    border-top-width: 0px;
    display: flex;
    margin: 20px 0px 0px 15px;
    font-size: 30px;
}
.headerbackground {
    background-color: #F1F3F6;
    align-self: baseline;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: -10px -10px -10px -10px;
    overflow-x: hidden;
    -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
}
.headerbutton {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 20px;
    text-decoration: none;
}
.headerbutton:hover {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    color: rgb(228, 156, 0);
}
.headerthemebutton {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    margin-top: 3px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 600;
}
.headerthemebutton:hover {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    color: #F1F3F6;
}
.startp {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
    justify-self: center;
    padding-bottom: 30px;
    margin: 50px 20px 0px 20px;
}

.contactbutton {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.startpsmall {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: #F1F3F6;
    font-size: 25px;
    justify-self: center;
}
.firstdiv {
    display: flex;
    justify-content: center;
}
.insideheader {
    background-color: #F1F3F6;
    color: black;
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    justify-self: center;
    border-color: #F1F3F6;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
}
.projectsdiv {
    display: flex;
    justify-content: center;
}
.headerbackground2 {
    align-self: baseline;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: -10;
}
.insidetext {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
}
.project {
        -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    border-color: #F1F3F6;
    border-width: 1px;
    border-style: solid;
    margin: 10px 30px 10px 30px;
    padding: 15px 15px 15px 15px;
    height: 200px;
    width: 400px;
    background-color: #F1F3F6; 
    border-radius: 15px;
    margin-top: 40px;
}
.projectbutton {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.skillname {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: #F1F3F6;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 10px;
}
.projects {
    display: flex;
    justify-content: space-evenly;
}
.projectlinkicon {
    color:black;
}
.aboutmetext {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: #F1F3F6;
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutmetextdiv {
    display: flex;
    justify-content: center;
}

.aboutmetextlastdiv {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.skill {
        -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    border-color: #F1F3F6;
    border-width: 1px;
    border-style: solid;
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 0px 10px;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #F1F3F6; 
    border-radius: 15px;
    margin-top: 40px;
}

.giticon {
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}
.education {
    display: flex;
    justify-content: space-evenly;
}
.school {
            -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    border-color: #F1F3F6;
    border-width: 1px;
    border-style: solid;
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    height: 220px;
    width: 200px;
    background-color: #F1F3F6; 
    border-radius: 15px;
} 
.contactsmain {
    display: flex;
    justify-content: center;
}
.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact {
            -webkit-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    -moz-box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    box-shadow: 30px 30px 80px 0px rgba(55,84,170,0.1), -30px -30px 80px 0px rgba(255,255,255,1), -30px -30px 80px 0px rgba(255,255,255,1);
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 0px 10px;
    height: 70px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #F1F3F6; 
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
}
.footer {
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: 600;
}
.mainfirstdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maindiv {
    display: flex;
    justify-content: center;
}

.project-exp {
    font-size: 15px;
}

.contact-a {
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
}

.contacticon {
    color: black;
    margin-right: 15px;
    margin-top: 11px;
}

#p {
    color: black;
    text-decoration: none;
    font-family: '-apple-system', BlinkMacSystemFont, 'IBM Plex Sans', Helvetica, sans-serif;
}

@media screen and (max-width:1100px) {
    .startp {
        font-size: 25px;
        padding-bottom: 30px;
        text-align: center;
    }
    .aboutmetext {
        font-size: 25px;
        text-align: center;
    }
    .aboutmetextlastdiv {
        padding-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width:850px) {
    .projectbutton {
        font-size: 20px;
    }
    .project {
        height: 200px;
        width: 250px;
    }
    .headertext {
        font-size: 20px;
        margin-top: 18px;
    }
    .headerbutton {
        font-size: 15px;
    }
    .headerbutton:hover {
        font-size: 15px;
    }
    .startp {
        margin: 30px 20px -25px 20px;
        font-size: 25px;
    }
    .insideheader {
        font-size: 25px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .aboutmetext {
        font-size: 20px;
        text-align: center;
    }
    .aboutmetextlastdiv {
        font-size: 20px;
        padding-bottom: 0px;
    }
    .skills {
        flex-direction: column;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .education {
        flex-direction: column;
    }
    .projects {
        flex-direction: column;
    }
    .aboutmetextdiv {
        padding-bottom: -20px;
        padding-top: -20px;
    }
    .skill {
        width: 200px;
    }
    .skillname {
        position: relative;
        top: 15px;
        font-size: 17px;
    }
}

@media screen and (max-width:600px) {
    .projectbutton {
        font-size: 20px;
    }
    .aboutmetextdiv {
        margin-bottom: -20px;
    }
}

@media screen and (max-width:550px) {
    .headerbutton {
        display: none;
    }
    .headertext {
        padding-bottom: 10px;
        font-size: 30px;
        margin-top: 16px;
    }
    .contact {
        width: 250px;
    }
    .contact-a {
        font-size: 15px;
    }
    .startp {
        margin-top: 30px;
        font-size: 22px;
    }
    .headerthemebutton {
        font-size: 14px;
    }
    .headerthemebutton:hover {
        font-size: 14px;
    }
}

@media screen and (max-width:300px) {
    .headertext {
        font-size: 20px;
    }
    .startp {
        font-size: 20px;
    }
    .headerthemebutton {
        font-size: 12px;
    }
    .headerthemebutton:hover {
        font-size: 12px;
    }
}


