<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        body {
            margin-bottom: 30px;
        }
        * {
            font-family: Helvetica, sans-serif;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <h1>Baran Önen</h1>
        <p>Welcome to my space on the Internet</p>
        <p>Here, you can view info or contact me</p>
    </div>

    <div>
        <h1>About Me</h1>
        <p>I started programming in 2015</p>
        <p>In 2018 I started learning React Native and made a school app</p>
        <p>Now, I'm focused on Web Development & Python</p>
    </div>
</body>

</html>