<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="insideheader">Skills</h1>

    <div class="skillcards">
        <div class="skill">
            <h1 class="skillname">HTML</h1>
            <i style="color: #000000; margin-left: 10px; margin-right: 10px;" class="fab fa-html5 fa-4x"
                aria-hidden="true"></i>
        </div>

        <div class="skill">
            <h1 class="skillname">React Native</h1>
            <i style="color: #000000; margin-left: 10px; margin-right: 20px;" class="fab fa-react fa-4x"
                aria-hidden="true"></i>
        </div>

        <div class="skill">
            <h1 class="skillname">Python</h1>
            <i style="color: #000000; margin-left: 10px; margin-right: 10px;" class="fab fa-python fa-4x"
                aria-hidden="true"></i>
        </div>

        <div class="skill">
            <h1 class="skillname">Git</h1>
            <i style="margin-left: 10px; margin-right: 10px; color: black"
                class="fab fa-github fa-4x" aria-hidden="true"></i>
        </div>
    </div>
</div>
</body>
</html>