.headertext {
    color: white;
    margin-top: 23px;
}
.headerbutton {
    color: white;;
}
.headerthemebutton {
    color: white;
    font-weight: 500;
    margin-top: 3px;
}
.insideheader {
    color: white;
    background: rgb(3,29,67);
    background: -moz-radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    background: radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#031d43",endColorstr="#002f74",GradientType=1);
    border-width: 0px;
    font-family: Helvetica, sans-serif;
    padding-top: 10px;
}
.headerbackground {
    background: rgb(3,29,67);
    background: -moz-radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    background: radial-gradient(circle, rgba(3,29,67,1) 0%, rgba(0,47,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#031d43",endColorstr="#002f74",GradientType=1);
}
.project {
    background: #ffe8ad;/* Old Browsers */
    background: -moz-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* IE 10+ */
    background: linear-gradient(135deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8ad', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    border-width: 1px;
}
.projectbutton {
    color: black;
    font-family: Helvetica, sans-serif;
}
.skillname {
    color: black;
    top:12px;
}
.projectlinkicon {
    color:black;
}
.aboutmetext {
    color: black;
}
.skill {
    background: #ffe8ad;/* Old Browsers */
    background: -moz-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffe8ad), color-stop(80%, #fccd4d), color-stop(83%, #f8b500), color-stop(100%, #fbdf93));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* IE 10+ */
    background: linear-gradient(135deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8ad', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    border-width: 1px;
}
.school {
    padding-top: 15px;
    background: #ffe8ad;/* Old Browsers */
    background: -moz-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffe8ad), color-stop(80%, #fccd4d), color-stop(83%, #f8b500), color-stop(100%, #fbdf93));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* IE 10+ */
    background: linear-gradient(135deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8ad', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    border-width: 1px; 
}
.contact {
    padding-top: 15px;
    background: #ffe8ad;/* Old Browsers */
    background: -moz-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffe8ad), color-stop(80%, #fccd4d), color-stop(83%, #f8b500), color-stop(100%, #fbdf93));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%); /* IE 10+ */
    background: linear-gradient(135deg, #ffe8ad 0%, #fccd4d 80%, #f8b500 83%, #fbdf93 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8ad', endColorstr='#fbdf93', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    border-width: 1px;
}
.contact-a {
    text-decoration: #a0a0a0;
    color: black;
}
.headertext {
    font-family: Helvetica, sans-serif;
}
.headerbutton {
    font-family: Helvetica, sans-serif;
}
.headerthemebutton {
    font-family: Helvetica, sans-serif;
}
.headerthemebutton:hover {
    font-family: Helvetica, sans-serif;
    color: white;
}
.headerbutton:hover {
    font-family: Helvetica, sans-serif;
    color: white;
}

#p {
    color: black;
    font-family: Helvetica, sans-serif;
}