.maindiv {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.button {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: rgb(56, 56, 56);
    transition: .3s;
}

.button:hover {
    cursor: none;
    color: white;
    background-color: #b8b8b8;
    transition: .3s;
}