<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="insideheader">Education</h1>

    <div class="schoolcards">

        <div class="school">
            <h1 class="schoolname">Özel Evrim Okulları</h1>
            <p class="schoolplight">Primary School-Secondary School</p>
            <p class="schoolplight">2009-2017</p>
            <a class="detailbutton" href="http://www.evrim.k12.tr/tr/">Visit website <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

        <div class="school">
            <h1 class="schoolname">Sevinç Koleji</h1>
            <p class="schoolplight">Secondary School</p>
            <p class="schoolplight">2017-2018</p>
            <a class="detailbutton" href="https://www.sevinc.k12.tr/">Visit website <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

        <div class="school">
            <h1 class="schoolname">Sakıp Sabancı Anadolu Lisesi</h1>
            <p class="schoolplight">High School</p>
            <p class="schoolplight">2018-current</p>
            <a class="detailbutton" href="http://sabancilisesi.meb.k12.tr/">Visit website <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

    </div>
</body>
</html>