<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <h1 class="insideheader">Projects</h1>

        <div class="projectcards">

            <div class="project">
                <h2 class="projectname">ECAM.css</h2>
                <p class="projectexp">A CSS framework that replicates the look of the cockpit displays in Airbus planes</p>
                <a class="detailbutton" href="https://github.com/baranonen/ecam.css">View on GitHub <i class="fa fa-angle-right" aria-hidden="true"></i></a> <br> <br>
                <a class="detailbutton" href="https://baranonen.github.io/ECAM.css/">Visit website <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <h2 class="projectname">Oleddit</h2>
                <p class="projectexp">A very tiny Reddit client that runs on a 0.96 inch OLED screen with a Raspberry Pi</p>
                <a class="detailbutton" href="https://github.com/baranonen/oleddit">View on GitHub <i class="fa fa-angle-right" aria-hidden="true"></i></a> <br> <br>
                <a class="detailbutton" href="https://www.reddit.com/r/Python/comments/haq3vc/made_a_small_reddit_client_that_runs_on_a_096/?utm_source=share&utm_medium=web2x">More info <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <h2 class="projectname">baranonen.com</h2>
                <p class="projectexp">My personal website</p>
                <a class="detailbutton" href="https://github.com/baranonen/baranonen.com">View on GitHub <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>

            <div class="project">
                <h2 class="projectname">SSALConnect</h2>
                <p class="projectexp">Open source companion app for Sakıp Sabancı Anadolu Lisesi located in Istanbul</p>
                <a class="detailbutton" href="https://github.com/baranonen/SSALConnect">View on GitHub <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>
</body>
</html>